body{
    background-color: #E5E5E5;;
}
.by{
    color: #9F9F9F;
    font-size: 16px;
}
a{
    text-decoration: none;
    font-size: 16px;
}
.bi-star-fill{
    color: #FFC014;
    height: 11.81px;
    width: 12.39px;
}
.runtime{
    background: #FFE4E8;
    border-radius: 14.6913px;
    Width: 94.83px;
    Height: 29.38px;
    text-align: center;
    padding-top: 3px;
}